* {
  font-family: 'Carter One', cursive;
  letter-spacing: 1.5px;
  color: #ffffff;
}
body {
  position: relative;
  background-attachment: fixed;
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}


/* Start game screen */
.start-title{
  font-size: 50px;
}
.start-game-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#start{
  margin-left: 135px;
  width: 300px;
  padding: 15px;
}
/*  */

/* Category screen */
.category-header{
  display: flex;
  justify-content: center;
}
.category-div{
  margin-bottom: 150px;
}
.category-content{
  margin-top: 50px;
}
/*  */

/* Trivia Build */
.app {
  background-color: #8a00c2;
  width: 550px;
  min-height: 580px;
  height: min-content;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(#8a00c2);
}
.score-section {
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#restart{
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
#quit{
  margin-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.question-section {
  width: 100%;
  font-size: 25px;
}
.question-count {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.question-count span {
  font-size: 25px; 
}
.question-text {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.answer-section {
  min-width: 100%;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.button {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: #555e7d;
  transition: .2s;
}
.button:focus {
  outline: none;
}
.button svg {
  margin-right: 5px;
}
/* 
*/
/* 
*/
@media only screen and (max-width: 750px){
  body {
    margin: 0;
  }
  * {
    font-family: 'Carter One', cursive;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
  body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  .title{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
  .start-title{
    font-size: 25px;
    margin-left: 25px;
  }
  .start-game-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
  }
  #start{
    margin-left: 17px;
    width: 300px;
    padding: 15px;
    margin-top: 130px;
  }
  .app {
    background-color: #8a00c2;
    width: 350px;
    min-height: 500px;
    height: min-content;
    border-radius: 15px;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(#8a00c2);
  }
  .score-section {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  .question-section {
    width: 100%;
    font-size: 23px;
  }
  .question-count {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .question-count span {
    font-size: 23px;
  }
  .question-text {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
  }
  .answer-section {
    min-width: 100%;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  .correct {
    background-color: #07da63;
  }
  .incorrect {
    background-color: #ff3333;
  }
  .button:hover {
    background-color: #555e7d;
    transition: .1s;
  }
  .button:focus {
    outline: none;
  }
  .button svg {
    margin-right: 5px;
  }
}
